GOOGLE_API_KEY=
DATA_PATH=hospital_data/data_tables
CHROMA_PATH=chroma_db
DATA_DICTIONARY_PATH=hospital_data/dictionary/data_dictionary.csv
MERGED_DATA_PATH=hospital_data/merged_data/merged_calculated_hospital_data.csv
BASIC_AUTH_USERNAME=lesith
BASIC_AUTH_PASSWORD=P@ssw0rd
